{% extends 'base.html.twig' %}

{% block title %}About index{% endblock %}

{% block body %}
    <h1>About index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>FullName</th>
                
                <th>Birthday</th>
                <th>Experience</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Freelance</th>
                <th>Degree</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for about in abouts %}
            <tr>
                <td>{{ about.id }}</td>
                <td>{{ about.title }}</td>
                <td>{{ about.fullName }}</td>
           
                <td>{{ about.birthday ? about.birthday|date('Y-m-d') : '' }}</td>
                <td>{{ about.experience }}</td>
                <td>{{ about.phone }}</td>
                <td>{{ about.email }}</td>
                <td>{{ about.address }}</td>
                <td>{{ about.freelance ? 'Yes' : 'No' }}</td>
                <td>{{ about.degree }}</td>
                <td>{{ about.createdAt ? about.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ about.updatedAt ? about.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_about_show', {'id': about.id}) }}">show</a>
                    <a href="{{ path('app_about_edit', {'id': about.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_about_new') }}">Create new</a>
{% endblock %}
