{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ about.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ about.title }}</td>
            </tr>
            <tr>
                <th>FullName</th>
                <td>{{ about.fullName }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td><img src="{{ vich_uploader_asset(about, 'imageFile') }}" ></td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ about.birthday ? about.birthday|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ about.experience }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ about.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ about.email }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ about.address }}</td>
            </tr>
            <tr>
                <th>Freelance</th>
                <td>{{ about.freelance ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Detail</th>
                <td>{{ about.detail }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ about.createdAt ? about.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ about.updatedAt ? about.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_about_index') }}">back to list</a>

    <a href="{{ path('app_about_edit', {'id': about.id}) }}">edit</a>

    {{ include('about/_delete_form.html.twig') }}
{% endblock %}
