{% extends 'base.html.twig' %}

{% block title %}QualityContent{% endblock %}

{% block body %}
    <h1>QualityContent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quality_content.id }}</td>
            </tr>
            <tr>
                <th>Post</th>
                <td>{{ quality_content.post }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ quality_content.company }}</td>
            </tr>
            <tr>
                <th>StartedAt</th>
                <td>{{ quality_content.startedAt }}</td>
            </tr>
            <tr>
                <th>EndedAt</th>
                <td>{{ quality_content.endedAt }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ quality_content.createdAt ? quality_content.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ quality_content.updatedAt ? quality_content.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ quality_content.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_quality_content_index') }}">back to list</a>

    <a href="{{ path('app_quality_content_edit', {'id': quality_content.id}) }}">edit</a>

    {{ include('pages/quality_content/_delete_form.html.twig') }}
{% endblock %}
